{{> head }}

{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Appuntate</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint dolorem ipsam, sed recusandae ducimus, quo cumque ipsa esse modi odio fugiat et numquam excepturi minima aperiam perferendis omnis veritatis earum.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/Flores.jpg" class="img-thumbnail">
    </div>
</div>
    
{{> footer }}